:root {
  /* Text COLOR */
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);

  /* Background GRADIENTS*/
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);

  /* Text */
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);

  /* Dividers */
  --light-grayish-blue: hsl(240, 5%, 91%);
}

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  font-size: 13px;
  font-family: "Kumbh Sans";
  overflow: hidden;
  height: 100vh;
}

.main-container{
  display: block;
  position: relative;
  margin: 125px auto;
  width: 850px;
  height:65vh;
  background-image: url(/images/illustration-woman-online-desktop.svg), url(/images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-position: -85px 70px,-571px -290px;
  background-color: white;
  border-radius: 2em;
}

/* Contain the FAQ's questions */
.faq_holder {
  display: block;
  position: absolute;
  right: 5vw;
  top: 5vh;
  width: 300px;
  height: auto;
  background-color: white;
}

.question {
  border-bottom: 1px solid var(--light-grayish-blue);
  margin: 20px 0 0 0;
  padding: 5px 0 20px 0;
}

/* IMAGES from folder */
.box {
  position: absolute;
  left: -95px;
  top: 200px;
  z-index: 2;
}

.woman-mobile {
  visibility: hidden;
  position: absolute;
}

/* FONT for paragraph, titles ... */
h1 {
  font-size: 700;
}

p {
  text-align: justify;
  margin: 5px 25px 0px 0px;
  color: var(--dark-grayish-blue);
  line-height: 1.2rem;
  font-weight: 400;
}

.arrow {
  float: right;
}

/* INPUT type radio */
input + label + article {
  display: none;
}

label {
  display: block;
  font-size: 14px;
}

input:checked + label + article,
div > label {
  display: table-row; /* this display show the answer under the input (question) */
  vertical-align: top;
  cursor: pointer;
}

input:checked + label {
  font-weight: bold;
  color: var(--soft-red);
}

input:checked + label > span {
  content: "";
  background-image: url("/images/icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center right;
  transform: scaleY(-1);
}

[type="radio"] {
  display: none;
}

div {
  display: table;
  width: 100%;
}

/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(0, 0%, 100%);
}

/* MOBILE SIZE & IPAD SIZE */
@media (max-width: 900px) {
  
  body {
    overflow: auto;
  }

  .main-container {
    background-color: transparent;
    border-radius: 25px;
    margin: 150px auto;
    width: 90vw;
    min-width: 300px;
    min-height: 70vh;
    max-height: 90vh;
    background-image: unset;
  }

  .faq_holder {
    display: block;
    margin: 0 auto;
    background-color: white;
    padding-top: 12vh;
    padding-bottom: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    position:unset;
    bottom: auto;
    width: 90vw;
    border-radius: 25px;
  }

  /* IMAGE position */
  .box {
    display: none;
  }

  .woman-mobile {
    visibility: visible;
    display: block;
    position: absolute;
    margin-top: -110px;
    z-index: 1;
  }

  .woman-img {
    visibility: visible;
    z-index: 1;
    display: flex;
    justify-content: center;
  }

/* TEXT form */
  h1 {
    text-align: center;
  }

  label {
    font-weight: 700;
    font-size: 12.5px;
  }

  p{
    font-size: 12px;
  }

}
